.detalleProducto{
    background: rgb(228, 127, 114);
    padding: 10px;
    position: fixed;
    width: 400px;
    left: calc(50% - 200px);
    bottom: 40px;
    z-index: 100;
    box-shadow: 0 3px 6px rgb(0 0 0 / 17%),0 3px 6px reb(0 0 0 /27%);

    .cardProducto{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .IMG{
            width: 200px;
        }
        .btn2{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            background-color: black;
            &:hover{
                background-color: white;
                color: rgba(255, 0, 0, 0.705);
                transform: scale(1.3);
                transition: all 0.5s;
                text-transform: uppercase;
                font-weight: bold;
                border-color: rgba(255, 0, 0, 0.705);
                
            }
        }
        .cerrarModal{
            margin-top: 10px;
        }
    }
}