.detalleProducto{
    background: rgb(255, 255, 255);
    padding: 10px;
    position: fixed;
    width: 400px;
    left: calc(50% - 200px);
    bottom: 40px;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.705);

    .cardProducto{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        h4{
            color: rgb(0, 0, 0);
        }
        h2{
            color: rgb(228, 21, 21);
            font-size: la;
        }
        .IMG{
            width: 200px;
        }
        .btn2{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            background-color: black;
            border-radius: 5%;
            margin: 1%;
            font-size: small;
            &:hover{
                background-color: rgb(255, 255, 255);
                color: rgb(226, 3, 3);
                transform: scale(1.02);
                transition: all 0.5s;
                text-transform: uppercase;
                font-weight: bolder;
                border-radius: 5%;
                box-shadow: 5px 5px 10px rgba(224, 9, 9, 0.527);
            }
        }
        .cerrarModal{
            margin-top: 10px;
            color: rgb(0, 0, 0);
            &:hover{
                color: rgb(226, 3, 3);
            }
        }
    }
}