.counterContainer{
    max-width: 300px;
    margin: auto;
}
.counter{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .display{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 7px 0px;
        .btn{
            background-color: black;
            color: blanchedalmond;
            font-size: 20px;
            border-radius: 50%;
            &:hover:focus{
                outline: none;
                transform: scale(1.01);
                transition: all 0.1s; 
                box-shadow: 5px 5px 10px rgba(224, 9, 9, 0.842);
            }
            }
            
    }
    

}
