.navbarContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 10px;

    button{
        font-weight: bold;
        font-family: inherit;
        font-size: inherit;
    }
    .navbarMenu {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        .navbarItem{
            a {
                color: rgba(255, 0, 0, 0.623);
                padding: 17px 27px;
                text-align: center;
                display: block;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    background-color: white;
                    transition: 0.2s;
                }
            }
            .navbarInteractivo{
                position: relative;
                a{
                    display: block;
                    color: rgba(255, 0, 0, 0.623);
                    text-align: center;
                    padding: 14px 0px;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        background-color: white;
                    }
                }
                .menuDesplegable{
                    position: absolute;
                    background-color: black;
                    color: rgba(255, 0, 0, 0.623);
                    padding: 1px;
                    list-style-type: none;
                    width: 88px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
                    0 3px 6px rgba(0, 0, 0, 0.23);
                }
            }
        }
    }
}
.drop{
    background-color: transparent;
    border: none;
    color: rgba(255, 0, 0, 0.623);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: inline;
    padding: 17px 17px;
    &:hover{
        background-color: white;
    }


}
.navbarBrand {
    color: white;
    padding: 7px 7px;
}
a{
    text-decoration: none;
}



ul{
    list-style-type: none;
    align-items: center;
}
// .navbarInteractivo:hover .menuDesplegable{
//        display: block;
//    }
// .menuDesplegable {
//        position: absolute;
//        display: none;
//    }
.section {
       width: 100%;
       background-color: black;
       border: 1px solid gray;
       position:relative;
       right:40px;
       
   }
.icon{
    :hover{ 
    transform: scale(0.8);
    transition:all 1.5s;}
}
