.navbarContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1px 1px;
}
.navbarMenu {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navbarBrand {
    color: white;
    padding: 7px 7px;
}
a {
    color: rgba(255, 0, 0, 0.623);
    padding: 7px 7px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    &:hover{
        background-color: white;
        transition: 0.2s;
    }
}
.navbarItem{
    padding: 10px 15px;
}
ul{
    list-style-type: none;
    align-items: center;
}
.menuDesplegable {
       position: absolute;
       display: none;
   }
.section {
       width: 100%;
       background-color: black;
       border: 1px solid gray;
       position:relative;
       right:40px;
       
   }
.navbarInteractivo:hover .menuDesplegable{
       display: block;
   }
.icon{
    :hover{ 
    transform: scale(0.8);
    transition:all 1.5s;}
}
